<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'work09/css/top.css' %}">
    <title>toDoApp</title>
</head>

<body>
    <h1>TODOアプリ</h1>
    <h2>新しいタスクを追加</h2>
    <form method="post">
        {% csrf_token %}
        <label for="taskName" class="taskName">タスク名</label>
        <input type="text" name="taskName" id="taskName" size="50" required>
        <label for="timeLimit">期限日</label>
        <input type="datetime-local" name="timeLimit" id="timeLimit" required>
        <button type="submit">登録</button>
    </form>
    <h2>TODO一覧</h2>
    {% if todos %}
    <ul>
        {% for todo in todos %}
        <li class="{% if todo.is_completed %}completed{% endif %}">
            <strong>{{ todo.title }}</strong>
            {{ todo.timeLimit|linebreaksbr }}
            {% if todo.is_completed %}
            <span style="color:green;">[完了]</span>
            {% else %}
            <span style="color:red;">[未完了]</span>
            {% endif %}
            <a href="{% url 'work09:edit' todo.id %}" class="editBtn">編集</a>
            <form method="post" action="{% url 'work09:delete' todo.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="mit">削除</button>
            </form>
            <form action="{% url 'work09:fin' todo.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="finish">
                    {% if todo.is_completed %}未完了にする{% else %}完了{% endif %}
                </button>
            </form>
        </li>
        {% if not forloop.last %}
        <hr>{% endif %}
        {% endfor %}

    </ul>
    {% else %}
    <p>メモはまだありません。</p>
    {% endif %}
    <script src="{% static 'work09/js/top.js' %}"></script>
</body>

</html>